project/Connected Services/PaymentService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="balancecheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="balancecheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="balancecheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="balanceupdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newbal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="balanceupdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="balanceupdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>